@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Mono&display=swap'); 


body{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #ae70e3;
}


.App-header{
  text-align: center;
}

.ToDoform{
  display: flex;
  justify-content: center; /* Horisontell centreringsjustering */
  align-items: center; /* Vertikal centreringsjustering */
  height: 20vh; 
  /* background-color: rgba(245, 218, 68, 0.836); */
  background-color: #e3e189;
  
  max-width: 650px;
  max-height: 130px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  
}
form input {
  text-align: left;
  border-radius: 10px;
  width: 510px; 
  height: 40px; 
  font-size: 16px; 
  padding: 5px;
  background-color: rgba(242, 237, 247, 0.957);
}

form button{
  padding: 15px ; 
  margin-left: 5px;
  border-radius: 10px;
  /* background-color: rgba(137, 43, 226, 0.572); */
  background-color: #e3c8fb;
}

form button:hover{
  cursor: pointer; 

}

.taskformBackgrond{
  /* background-color: rgb(127, 255, 212); */
  background-color: #89e2dc;
  max-width: 300px;
  margin-left: 40px;
  border-radius: 10px;
  margin-top: 30px;
  
  padding-bottom: 5px;
}

.taskformBackgrond li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  position: relative; 
}

.taskformBackgrond li::before {
  content: ""; /* Lägg till en tom content */
  display: block;
  width: 10px; /* Bredden på bulletpunkten */
  height: 10px; /* Höjden på bulletpunkten */
  background-color: black; /* Färg på bulletpunkten */
  border-radius: 50%; /* För att göra den rund */
  position: absolute;
  left: -20px; /* Justera avståndet från vänster */
} 
.taskformBackgrond button{
  background-color: red;
  font-size: 20px;
  margin-right: 15px;
  border-radius: 10%;
} 


